---
title: Accomodation
layout: page
slide_id: 6
---

<div class="row mt-xs-0 mt-sm-0 my-2">
  <div class="col text-muted">
    <h6 class="text-info">Dove dormire</h6>

    <p>{{site.data.venue.accommodation.instructions}}</p>

    {% if site.data.venue.accommodation.hotels %} {% assign hotels_by_zone =
    site.data.venue.accommodation.hotels | group_by: "zone" %} {% for zone in
    hotels_by_zone %}
    <h5>{{ zone.name }}</h5>
    <ul>
      {% for hotel in zone.items %}
      <li><b>{{hotel.name}}</b> ({{hotel.address}})</li>
      {% endfor %}
    </ul>
    {% endfor %} {% endif %}
  </div>
</div>
