---
title: Programma del convegno
layout: page
slide_id: 4
---


<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col conference-text">
        {% if site.data.program.online.live %}
        <h6 class="text-info">Online</h6>
        <p>
            The conference will be streamed live{% if site.data.program.online.record %} and recorded for each day{% endif %}.
            <br>
            The event can be accessed online at: <a href="{{site.data.program.online.url}}">{{site.data.program.online.url}}</a>
        </p>
        <p>
            {% if site.data.program.online.streams %}
            <table class="table">
                <tr>
                    <th>Stream</th>
                    <th>Link</th>
                </tr>
                {% for stream in site.data.program.online.streams %}
                <tr>
                    <td>{{stream.title}}</td>
                    <td><a href="{{stream.url}}">{{stream.url}}</a></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </p>
        {% endif %}
        <h6 class="text-info">Topic</h6>
        Sebbene la partecipazione sia aperta a tutti i settori agro-zootecnici, alimentari ed ambientali, avendo come principale obiettivo quello di creare una rete tra tutti gli accademici del settore,
        le discussioni scientifiche si focalizzeranno sugli argomenti di
        seguito elencati:

        <ol>
            {% for topic in site.data.program.topics %}
            <li><strong>{{ topic.title }}</strong> - {{ topic.description }}</li>
            {% endfor %}
        </ol>
        
        <h6 class="text-info">Programma</h6>
        <div class="alert alert-warning rounded text-center mx-3 my-5">
            <strong>Il convegno si svolgerà in lingua italiana. Tuttavia, nel caso in cui tra i partecipanti vi siano ospiti stranieri che non comprendono l'italiano, i relatori potranno, a loro discrezione, intervenire in inglese per facilitare la comprensione.</strong>
        </div>

        <h6 class="text-info">Indicazioni per il Boook of Abstract</h6>
        Invitiamo chi fosse interessato a partecipare con un proprio contributo a inviare direttamente il materiale definitivo, formattato secondo le indicazioni sotto riportate, <strong>entro mercoledì 23 maggio 2025.</strong>
        <hr class="my-4">
        <div class="alert alert-info rounded mx-3 my-4">
            <p>Linee guida per la stesura dell’abstract:</p>
            <ul>
                <li>Lunghezza: Massimo 300 parole (esclusi titolo, autori e affiliazioni);</li>
                <li>Lingua: Italiano o inglese, a scelta dell’autore;</li>
                <li>Formato del file: Documento Word (.doc o .docx) o PDF;</li>
                <li>Impaginazione: formato A4, margini 2,5 cm, interlinea 1,15;</li>
                <li>Carattere: Times New Roman, corpo 12 pt per il testo; 14 pt grassetto per il titolo;</li>
                <li>Citazioni: massimo 5, numerate in ordine di apparizione nel testo e riportate in fondo all’abstract;</li>
                <li>Struttura consigliata:
                    <ul>
                        <li>Titolo;</li>
                        <li>Autori e affiliazioni;</li>
                        <li>Introduzione/contesto;</li>
                        <li>Obiettivi;</li>
                        <li>Metodi;</li>
                        <li>Risultati attesi o principali;</li>
                        <li>Conclusioni;</li>
                        <li>Parole chiave (max 5);</li>
                        <li>Referenze bibliografiche (facoltative), massimo 5, citate in stile APA o Vancouver.</li>                        
                    </ul>
                </li>
            </ul>
            <p>Tutti i contributi dovranno essere inviati tramite questo <a href="https://forms.gle/ojFxNs5ZV9BoNUwz7">FORM</a></p>
        </div>
       
        {% if site.data.program.schedule.live %}
        {% for day in site.data.program.schedule.program_slots %}
        <div>
            <h4 class="schedule-table-heading">{{ day.dateReadable }} - Giorno {{ forloop.index }}</h4>
            <table class="table table-bordered table-striped table-hover table-responsive table-sm">
                {% for timeslot in day.timeslots %}
                <thead>
                    <tr>
                        <th class="bg-info text-center">
                            <div>{{timeslot.startTime}}-{{timeslot.endTime}}</div>
                        </th>
                        {% if timeslot.type == "service" %}
                        <th class="bg-warning text-center">
                            <p class="text-muted">{{timeslot.title}}</p>
                        </th>
                        {% elsif timeslot.type == "poster" %}
                        <th class="bg-success text-center">
                            <h5>{{timeslot.title}}</h5>
                            {% if timeslot.speaker %}
                            <h5>{{timeslot.speaker}}</h5>
                            {% endif %}
                            {% if timeslot.chair %}
                            <h6>Moderatore: {{timeslot.chair}}</h6>
                            {% endif %}
                        </th>
                        {% elsif timeslot.type == "Sessioni Parallele" %}
                        <th class="bg-info text-center">
                            <h5>{{timeslot.title}}</h5>
                            {% if timeslot.speaker %}
                            <h5>{{timeslot.speaker}}</h5>
                            {% endif %}
                            {% if timeslot.chair %}
                            <h6>Moderatore: {{timeslot.chair}}</h6>
                            {% endif %}
                        </th>
                        {% else %}
                        <th class="bg-primary text-center">
                            <h5>{{timeslot.title}}</h5>
                            {% if timeslot.speaker %}
                            <h5>{{timeslot.speaker}}</h5>
                            {% endif %}
                            {% if timeslot.chair %}
                            <h6>Moderatore: {{timeslot.chair}}</h6>
                            {% endif %}
                        </th>
                        {% endif %}
                    </tr>
                </thead>
                {% if timeslot.events %}
                <tbody>
                    {% for event in timeslot.events %}
                    <tr>
                        <td width="20%">
                        </td>
                        <td>
                            <p><b>{{event.title}}</b></p>
                            <p><i>{{event.speakers}}</i></p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        {% else %}
        <div class="my-4 text-center">
            <h5>Programma della conferenza in PDF</h5>
            <iframe src="./assets/Programma_AISSA2025.pdf" width="100%" height="600px" style="border:1px solid #ccc;">
                Questo browser non supporta la visualizzazione dei PDF. 
                <a href="./assets/Programma_AISSA2025.pdf">Scarica il PDF</a>.
            </iframe>
            <p class="mt-2">
                <a href="./assets/Programma_AISSA2025.pdf" target="_blank" class="btn btn-primary">Scarica il PDF</a>
            </p>
        </div>

        <div class="my-4 text-center">
            <h5>Programma delle sessioni parallele in PDF</h5>
            <iframe src="./assets/Parallele_AISSA 2025_v3.pdf" width="100%" height="600px" style="border:1px solid #ccc;">
                Questo browser non supporta la visualizzazione dei PDF. 
                <a href="./assets/Parallele_AISSA 2025_v3.pdf">Scarica il PDF</a>.
            </iframe>
            <p class="mt-2">
                <a href="./assets/Parallele_AISSA 2025_v3.pdf" target="_blank" class="btn btn-primary">Scarica il PDF</a>
            </p>
        </div>


        <div class="my-4 text-center">
            <h5>Programma della poster session in PDF</h5>
            <iframe src="./assets/AISSA_Poster_Session.pdf" width="100%" height="600px" style="border:1px solid #ccc;">
                Questo browser non supporta la visualizzazione dei PDF. 
                <a href="./assets/AISSA_Poster_Session.pdf">Scarica il PDF</a>.
            </iframe>
            <p class="mt-2">
                <a href="./assets/AISSA_Poster_Session.pdf" target="_blank" class="btn btn-primary">Scarica il PDF</a>
            </p>
        </div>
        <!--         <div class="alert alert-warning rounded text-center mx-3 my-5">
            TBA
        </div> -->
        {% endif %}

        <div class="conference-text">
            {% include contact-us.html %}
        </div>
    </div>
</div>