---
title: Sottomissione Poster
layout: page
slide_id: 3
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-2 text-justify conference-text">


        <h6 class="text-info">Instruzioni</h6>

        <p>
            I poster avranno due slot di tempo dedicati nel programma
        </p>

        <p>
            Verrà selezionato un poster come vincitore del premio <strong>Best Poster</strong>
        </p>

        <p>
            Il poster deve essere scritto in lingua {{site.data.submission.languages | join:" or "}}, rispettare i limiti, in una
            forma chiara, leggibile e senza errori.
            <strong>Sarà cura del partecipante alla conferenza di stampare, portare e affiggere il poster nei giorni della conferenza.</strong>
        </p>

        <p>
            La deadline per la sottomissione dei Poster è nel box a fianco.
        </p>

        <p>
            <b>Limiti per la sottomissione</b>
            <table class="table border">
                {% for track in site.data.submission.pagelimits %}
                <tr>
                    <td><b>{{track.name}}</b></td>
                    <td>{{track.limit}}</td>
                </tr>
                {% endfor %}
            </table>
        </p>

        {% if site.data.submission.sources %}
        <p>
            <h6 class="text-info">Template Abstract e Poster</h6>
            <ul>
                {% for source in site.data.submission.sources %}
                <li>{{source.name}}: <a href="{{source.url}}">{{source.text}}</a></li>
                {% endfor %}
            </ul>
        </p>
        {% endif %}

        {% if site.data.submission.extraPoster %}
        <p>
            {{site.data.submission.extraPoster}}
        </p>
        {% endif %}

        <p>
            <h6 class="text-info">Invio contributi</h6>
            I poster dovranno essere inviati come allegato scrivendo una mail al link qui sotto, con oggetto "<i>AISSAunder40</i>" seguito dal cognome e nome del corresponding author (esempio: “<i>Submission AISSAunder40 - Rossi Mario</i>”)
        </p>

        <p class="text-center">
            <a href="{{site.data.submission.url}}">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                <strong> {{site.data.submission.portal}} </strong>
            </a>
        </p>

        <p>
            La comunicazione dell’esito della valutazione dei poster sarà data secondo il calendario nel box a fianco.
            Dopo la data fissata, sarà chiesta conferma della presenza e l’iscrizione di almeno un autore per poster.
            <strong>Sarà cura del partecipante alla conferenza di stampare, portare e affiggere il poster nei giorni della conferenza.</strong>
        </p>

        {% include contact-us.html %}

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>