---
title: Submission
layout: page
slide_id: 3
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-2 text-justify conference-text">


        <h6 class="text-info">Instruzioni</h6>

        <p>
            L'abstract deve avere titolo, autori, affiliazione, un testo (max 300 parole) e keywords.
            Si ricorda di riempire i campi con le informazioni presenti alla fine della pagina: preferenza per la presentazione,
            qualifica del proponente e indicazione del/dei settore/i scientifico-disciplinari AGR di afferenza della tematica del contributo.
            E’ necessario indicare uno o più settori principali ed è possibile indicare anche quelli secondari, nel caso.
        </p>

        <p>
            Tabelle o altri elementi grafici possono essere inclusi nella submission, ma potrebbero non essere inclusi nel book of abstracts.
        </p>

        <p>
            Ogni autore può contribuire con più abstract. Tuttavia, per l'assegnazione delle presentazioni orali, si cercherà di favorire la diversificazione degli relatori.
        </p>

        <p>
            Il file deve essere allegato in email in formato {{site.data.submission.file_formats | join:" oppure "}}.
            L'abstract deve essere scritto in lingua {{site.data.submission.languages | join:" or "}}, rispettare i limiti, in una
            forma chiara, leggibile e senza errori.
        </p>

        <p>
            La deadline per la sottomissione degli Abstract è nel box a fianco.
        </p>

        <p>
            <b>Limiti per la sottomissione</b>
            <table class="table border">
                {% for track in site.data.submission.pagelimits %}
                <tr>
                    <td><b>{{track.name}}</b></td>
                    <td>{{track.limit}}</td>
                </tr>
                {% endfor %}
            </table>
        </p>

        {% if site.data.submission.sources %}
        <p>
            <h6 class="text-info">Template Abstract e Poster</h6>
            <ul>
                {% for source in site.data.submission.sources %}
                <li>{{source.name}}: <a href="{{source.url}}">{{source.text}}</a></li>
                {% endfor %}
            </ul>
        </p>
        {% endif %}

        {% if site.data.submission.extraAbstract %}
        <p>
            {{site.data.submission.extraAbstract}}
        </p>
        {% endif %}

        <p>
            <h6 class="text-info">Invio contributi</h6>
            Gli abstract dovranno essere inviati come allegato scrivendo una mail al link qui sotto, con oggetto "<i>AISSAunder40</i>" seguito dal cognome e nome del corresponding author (esempio: “<i>Submission AISSAunder40 - Rossi Mario</i>”)
        </p>

        <p class="text-center">
            <a href="{{site.data.submission.url}}">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                <strong> {{site.data.submission.portal}} </strong>
            </a>
        </p>

        <p>
            La comunicazione dell’esito della valutazione degli abstract,
            con l'indicazione della modalità di presentazione, sarà data secondo il calendario nel box a fianco.
            Dopo la data fissata, sarà chiesta conferma della presenza e l’iscrizione di almeno un autore per abstract.
            In assenza di almeno un autore iscritto al convegno, il contributo verrà rimosso dal book of abstracts.
        </p>

        {% include contact-us.html %}

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>