---
title: Venue
layout: page
slide_id: 5
---

<div class="row mt-xs-0 mt-sm-0 my-2">
  <div class="col text-muted">
    <p>
      Il {{site.data.conference.full_title}} si terrà il
      {{site.data.conference.date}} nella sede del Dipartimento di Agraria
      dell'Università di Napoli "Federico II",
      {{site.data.conference.location}}, {{site.data.conference.country}}
    </p>

    <h6 class="text-info">Sede del convegno</h6>

    <p>{{site.data.venue.address}}</p>

    <p>{{site.data.venue.directions}}</p>

    <img
      class="img-fluid"
      src="{{site.data.venue.direction}}"
      alt="direction"
    />

    <h6 class="text-info">Dove dormire</h6>

    <p>{{site.data.venue.accommodation.instructions}}</p>

    {% if site.data.venue.accommodation.hotels %}
    <ul>
      {% for hotel in site.data.venue.accommodation.hotels %}
      <li><b>{{hotel.name}}</b> ({{hotel.address}})</li>
      {% endfor %}
    </ul>
    {% endif %}

    <h6 class="text-info">Come Raggiungerci</h6>
  </div>
</div>
