<div class="row sponsor">
  <div class="col">
    <h5>Sponsor</h5>
    {% if site.data.conference.sponsors == nil %}
    <div class="alert alert-warning rounded text-center mx-3 my-5">TBA</div>
    {% else %}
    <div class="row mx-1 my-1">
      {% for sponsor in site.data.conference.sponsors %}
      <div class="card mx-1">
        <div class="card-body text-center">
          <a href="{{sponsor.url}}" target="_blank" rel="noopener noreferrer">
            <img
              class="img-fluid d-inline-block my-1"
              src="{{ site.baseurl }}{{ sponsor.logo_path }}"
              alt="{{ sponsor.name }}"
              style="width: auto; height: 150px"
            />
          </a>
          <br />
          <a href="{{sponsor.url}}" target="_blank" rel="noopener noreferrer">
            <small>{{sponsor.name}}</small>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

<div class="row sponsor">
  <div class="col">
    <h5>Con il patrocinio di:</h5>
    {% if site.data.conference.patrocini == nil %}
    <div class="alert alert-warning rounded text-center mx-3 my-5">TBA</div>
    {% else %}
    <div class="row mx-1 my-1">
      {% for patrocini in site.data.conference.patrocini %}
      <div class="card mx-1">
        <div class="card-body text-center">
          <a href="{{patrocini.url}}" target="_blank" rel="noopener noreferrer">
            <img
              class="img-fluid d-inline-block my-1"
              src="{{ site.baseurl }}{{ patrocini.logo_path }}"
              alt="{{ patrocini.name }}"
              style="width: auto; height: 150px"
            />
          </a>
          <br />
          <a href="{{patrocini.url}}" target="_blank" rel="noopener noreferrer">
            <small>{{patrocini.name}}</small>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
